:root {
  --fg-primary: theme('colors.light.900');
  --fg-primary-dark: theme('colors.white');
  --fg-secondary: theme('colors.light.700');
  --fg-secondary-dark: theme('colors.dark.300');
  --fg-secondary-hover: theme('colors.light.800');
  --fg-secondary-hover-dark: theme('colors.dark.200');
  --fg-tertiary: theme('colors.light.600');
  --fg-tertiary-dark: theme('colors.dark.400');
  --fg-tertiary-hover: theme('colors.light.700');
  --fg-tertiary-hover-dark: theme('colors.dark.300');
  --fg-quaternary: theme('colors.light.500');
  --fg-quaternary-dark: theme('colors.dark.400');
  --fg-quaternary-hover: theme('colors.light.600');
  --fg-quaternary-hover-dark: theme('colors.dark.300');
  --fg-quinary: theme('colors.light.400');
  --fg-quinary-dark: theme('colors.dark.500');
  --fg-quinary-hover: theme('colors.light.500');
  --fg-quinary-hover-dark: theme('colors.dark.400');
  --fg-senary: theme('colors.light.300');
  --fg-senary-dark: theme('colors.dark.600');
  --fg-white: theme('colors.white');
  --fg-white-dark: theme('colors.white');
  --fg-disabled: theme('colors.light.400');
  --fg-disabled-dark: theme('colors.dark.500');
  --fg-disabled-subtle: theme('colors.light.300');
  --fg-disabled-subtle-dark: theme('colors.dark.600');
  --fg-brand-primary: theme('colors.brand.600');
  --fg-brand-primary-dark: theme('colors.brand.500');
  --fg-brand-primary-alt: theme('colors.brand.600');
  --fg-brand-primary-alt-dark: theme('colors.dark.300');
  --fg-brand-secondary: theme('colors.brand.500');
  --fg-brand-secondary-dark: theme('colors.brand.500');
  --fg-error-primary: theme('colors.error.600');
  --fg-error-primary-dark: theme('colors.error.500');
  --fg-error-secondary: theme('colors.error.500');
  --fg-error-secondary-dark: theme('colors.error.400');
  --fg-warning-primary: theme('colors.warning.600');
  --fg-warning-primary-dark: theme('colors.warning.500');
  --fg-warning-secondary: theme('colors.warning.500');
  --fg-warning-secondary-dark: theme('colors.warning.400');
  --fg-success-primary: theme('colors.success.600');
  --fg-success-primary-dark: theme('colors.success.500');
  --fg-success-secondary: theme('colors.success.500');
  --fg-success-secondary-dark: theme('colors.success.400');
}
